body {
    background-color: Aquamarine; 
}

/*header (top part of the page)*/
#div-header {
    background-color: beige;
}

#header-name {
    font-size: 250%;
    background-color: BlanchedAlmond;
    padding: 10px;
}

.links {
    padding: 0 10px;
}

.links a {
    padding: 10px 10px;
    font-size: 125%;
}

.links a:hover {
    background-color: Azure;
}

/*content container*/
#content-container {
    padding: 10px;
    background-color: white;
}

#lebron {
    height: 100%;
    width: 50%;
    border: 3pt solid black;
    padding: 1%; 
}

/*footer*/
#div-footer {
    padding: 10px;
    background-color: BlanchedAlmond;
    text-align: center;
}
