h1, h2, h3, h4, h5, h6, p {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, section, nav, ul, li, a, div, h1, h2, h3, p, pre, code, form, textarea, input, img {
    margin: 0;
    padding: 0;
}
