/*global colourscheme I am going to use*/
:root {
    --deep-purple: #6E2CBF;
    --dark-black: #0A0A0A;
    --off-black: #1A1A1A;
    --lavender: #BB86FC;
    --dark-gray: #2C2C2C;
    --light-gray: #E0E0E0;
    --electric-purple: #9D4EDD;
    --neon-pink: #FF00FF;
}

/*resetting any type of formatting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Fira Code', monospace;
}


#container {
    min-height: 100%;
}

#main {
    overflow: auto;
}

/*setting main backgroud up*/
body {
    background-color: var(--dark-black);
    color: var(--light-gray);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--lavender);
}

/*links and references styling*/
a {
    color: var(--electric-purple);
    text-decoration: none;
}

a:hover {
    color: var(--neon-pink);
    background-color: var(--off-black);
}

/*navbar customisation (basically the header)*/
.navbar {
    display: flex; /*turns navbar into flexbox container; easier to align items*/
    justify-content: space-between; 
    align-items: center; /* vertically centers the items inside the navbar*/
    padding: 10px 20px;
    background-color: var(--deep-purple);
    color: white;
}

.navbar-left .name {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.navbar-left {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.navbar .subname {   
    font-size: 1rem;
    color: white;
}

#navlinks {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--dark-gray);
    padding: 10px 20px;
}

.linkdiv {
    padding: 4px;
}

/*flexbox container for column items*/
.flex-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    background-color: var(--deep-purple);
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/*lebron picture*/
#lebron {
    padding: 5px;
    max-width: 100%;
    height: 100%;
    width: 50%;
    object-fit: cover;
    margin: auto;
    border: 3pt solid var(--deep-purple);
}

footer a {
    color: white;
}

footer h3 {
    color: white;
}

#footer {
    width: 100%;
    bottom: 0;
    position: relative;
}

#hobbies {
    padding: 0px 30px ;
    width: 75vw;
    height: 100px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    padding: 2.5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0 auto;
    /*flex-wrap: wrap;*/.
}

.text-container {
    width: 75%;
    margin: 0;
}
