/*navbar css*/
html, body {
    font-family: '42dot Sans';
}
nav {
    margin: 0;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Abel';
}

nav ul li {
    font-family: 'Abel';
    display: inline;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 3px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul {
    text-decoration: none;
}

/*grid content*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.content {
    background-color: grey;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* Modern alternative to word-wrap */
    word-break: break-word; /* Break words to prevent overflow */
}

/*research interests*/
#research-interests {
    text-align: left;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#research-interests h2 {
    text-align: center;
}

/*skills*/
#skills {
    text-align: left;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#skills h2 {
    text-align: center;
}

/*main section*/
#main-section img {
    border-radius: 10px;
    border: solid black 3px;
    width: 50%;
}

#main-section figure {
    font-family: 'Aboreto';
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#main-section {

}

#main-section figcaption {
    text-align: none;
}

#text-content {
    font-family: 'Aboreto';
    background-color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 10px;
}

/*Hobbies */
#hobbies {
    text-align: left;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#hobbies h2 {
    text-align: center;
}

#movies {
    text-align: left;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#movies h2 {
    text-align: center;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid var(--accent-400);
    text-align: center;
}

#login-success {
    display: none;
    gap: 20px;
}
