caption{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #027f7e;
    padding: 5px;
}

table{
    border: solid 1pt #027f7e;
    background-color: lightgray;
}
th,td{
    border: solid 1pt gray;
    border-collapse: collapse;
}
tbody{
    background-color: white;
}
tfoot td{
    border-collapse: collapse;
    background-color: lightgray;
}
