table{
    border: solid 1pt black;
    background-color: whitesmoke;
}
td{
    border: solid 1px black;
    padding: 5px;
    background-color: lightgrey;
}
thead th, tfoot th{
    background-color: orange;
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
}

tbody th{
    background-color: black;
    color: white;
    padding: 0.25em;
}
